
.demo-panel {
    
}
.demo-header{
    display: flex;
    flex-direction: row;
    padding: 4px 20px;
    border-bottom: solid 1px var(--color-20);
    min-height: 50px;
    align-items: center;
    font-weight: bold;
}
.demo-title {
    position: relative;
    margin-left: -30px;
    padding: 4px 20px;
    border-radius: 4px;
}
.demo-title::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-color: #bbbbbb;
    border-width: 9px 0 0 11px;
}
.demo-content {
    padding: 10px 20px;
    overflow: auto;
}